.title {
  font-family: 'Poppins', sans-serif;
  text-align: center;
}
.text {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font-size: 25px;
}

a {
  text-decoration: none;
  color: red;
}
a:hover {
  text-decoration: underline;
  font-weight: bold;
}