.title {
  font-family: 'Poppins', sans-serif;
  text-align: center;
}
.text {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font-size: 25px;
}

a {
  text-decoration: none;
  color: red;
}
a:hover {
  text-decoration: underline;
  font-weight: bold;
}

#list_of_portfolios {
  text-align: center;
}
#other_projects {
  text-align: center;
}
.project {
  font-family: 'Poppins', sans-serif;
  display: block;
  font-size: 30px;
  text-decoration: none !important;
  color: rgb(0, 168, 0);
  font-weight: 400 !important;
  transition-duration: 100ms;
}
.project:hover {
  transform: scale(0.95);
}