/*
This includes the stuff for the body elements - body, header, main, footer - as well as
some styles for the navbar.
*/

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: white;
}

/*Stuff for the header*/
header {
  background-color: black;
  overflow: hidden;
}

.navbar-text { /*This shit glows*/
  font-size: 30px;
  color: #009e00;
  text-shadow: 0 0 30px rgb(0, 255, 21);
  font-family: 'Source Code Pro', monospace;
}

#prompt {
  float: left;
}
#input-box {
  float: left;
  background-color: black;
  border-style: hidden;
  outline: none;
}

footer {
  overflow: hidden;
}
footer p {
  font-size: 20px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}